.common-block {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row-reverse;
    padding: 200px;

}

.counter {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: lightslategrey;
    height: 200px;
    width: 200px;
    border: aquamarine solid 3px;
    border-radius: 20px;
}

.tablet-block {
    display: flex;
    width: 200px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xxx-large;
    width: 184px;
    height: 66px;
    border-radius: 20px;
    border: aqua solid 2px;
    background: aquamarine;
}


.settings-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: aquamarine solid 3px;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    background-color: lightslategrey;


}


.inputs-block {
    display: flex;
    flex-direction: column;
    border: cyan solid 3px;
    height: 100px;
    width: 190px;
    justify-content: space-around;
    align-items: center;
    background-color: lightslategrey;
    border-radius: 20px;
}

/*.two-block {*/
/*    margin: 200px;*/
/*}*/


.block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 181px;
    height: 27px;
    border-radius: 29px;
    padding: 2px;
    background: lightslategrey;
    border: 1px solid aquamarine;
}

.buttons-block {
    display: flex;
    border-radius: 20px;
    margin-left: 25px;


}

.button {
    background: aquamarine;
    border-color: aquamarine;
    border-radius: 20px;
    margin-right: 20px;

}

.inc-button {
    display: block;
    margin-right: 25px;


}

.reset-button {
    display: block;


}

.text-red {
    text-align: center;
    color: red;
}

.text-error {
    text-align: center;
    font-size: large;
    color: red;
}

.text {
    color: black;
    text-align: center;
}


.inputs {
    margin: 1px;
    text-align: center;
    border-color: aquamarine;;
    background-color: aquamarine;;
    width: 80px;
}

.inputs-red {
    background-color: red;
    width: 80px;
}

.maxValue {
    margin: 5px;
    color: aquamarine;

}

.startValue {
    margin: 4px;
    color: aquamarine;
}


.set-button {
    border-radius: 20px;
    display: flex;
    height: 30px;
    border: aquamarine solid 1px;
    width: 190px;
    justify-content: center;
    align-items: center;
}
