.counter {
    background: lightslategrey;
    height: 150px;
    width: 150px;
    border: aquamarine solid 3px;
    text-align: center;
    margin: 200px;
    padding: 10px;
    border-radius: 20px;
}

.two-block {
    margin: 200px;
}


.tablet {
    font-size: xx-large;
    width: 145px;
    height: 50px;
    margin-block: 30px;
    border-radius: 20px;
    border: aqua solid 2px;
    background: aquamarine;
}


.block {
    border: solid 1px aqua;
    border-radius: 20px;
    padding: 2px;
    background: lightslategrey;
}

.buttons-block {
    border-radius: 20px;
    margin-left: 25px;
    display: flex;


}

.button {
    background: aquamarine;
    border-color: aquamarine;
    border-radius: 20px;
    margin-right: 20px;

}

.inc-button {
    display: block;
    margin-right: 25px;


}

.reset-button {
    display: block;


}

.text-red {
    text-align: center;

    color: red;
}

.text-error {
    text-align: center;
    font-size: large;
    color: red;
}

.text {
    color: black;
}


.inputs-block {
    border: black solid 3px;
    height: 110px;
    width: 200px;
}

.settings-block {
    display: flex;
    border: aquamarine solid 3px;
    width: 250px;
    height: 250px;

}

.inputs-red {
    background-color: red;
    width: 100px;
}

.inputs {
    text-align: center;
    background-color: azure;
    width: 80px;

}